@using TouristProject.WebMVC.Models.Nutrients;
@model NutrientViewModel

@{
    ViewData["Title"] = "NutrientDetails";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<h1>NutrientDetails</h1>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <input type="hidden" name="Id" value="@Model.Nutrient.Nutrient.Id" />
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
      @foreach (var item in Model.Nutrient.Nutrient.NutrientImages)
        {
    <div class="carousel-item active">
      <img src="@item.ImageUrl" alt="Chicago" class="d-block">
      <div class="carousel-caption">
        <h3>@item.Nutrient.Name</h3>
      </div> 
    </div>
           
        }
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>