@model TouristProject.WebMVC.Models.UserViewModel
@{
    ViewData["Title"] = "SignUp";
}

@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="text-danger">
        <p>@ViewBag.Error</p>
    </div>
}


<div class="wrapper">
        <div class="logo">
            <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            What Can I Do In Istanbul
        </div>
        <form class="p-3 mt-3"  asp-action="SignUp" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="far fa-user"></span>
                <label asp-for="Email" class="control-label">E-Posta</label>
                <input asp-for="Email" type="text" class="form-control" id="userName" placeholder="E-Posta">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="far fa-user"></span>
                <label asp-for="Name" class="control-label">İsim</label>
                <input asp-for="Name" type="text" class="form-control" id="userName" placeholder="İsim">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        <div class="form-group">
            <span class="far fa-user"></span>
            <label asp-for="LastName" class="control-label">Soyisim</label>
            <input asp-for="LastName" type="text" class="form-control" id="userName" placeholder="Soyisim">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
            <div class="form-group">
                <span class="fas fa-key"></span>
                <label asp-for="Password" class="control-label">Şifre</label>
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Şifre">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="fas fa-key"></span>
                <label asp-for="ConfirmPassword" class="control-label">Şifre Yeniden</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="pwd" placeholder="Şifre Yeniden">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="far fa-user"></span>
                <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
                <input asp-for="PhoneNumber" type="text" class="form-control" id="userName" placeholder="05514265211">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="far fa-user"></span>
                <label asp-for="County" class="control-label">Ülke</label>
                <input asp-for="County" type="text" class="form-control" id="userName" placeholder="Ülke">
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="far fa-user"></span>
                <label asp-for="DateofBirth" class="control-label">Doğum Tarihi</label>
                <input asp-for="DateofBirth" type="date" class="form-control" id="userName" placeholder="11/03/2023">
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn mt-3"  type="submit" value="SignUp" >Kayıt Ol</button>
            </div>
        </form>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
