
<div id="footerDiv">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <p class="text-muted">© What Should I Do In Istanbul</p>
                <p class="text-muted">Designed by Semihozcann</p>
            </div>

            <div class="col mb-3">
            </div>
            <div class="col mb-3">
                <h5>Site İçeriği</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Yemekler</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">İçecekler</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tatlılar</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gezilebilecek Yerler</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Yorumlar</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Yemek Yorumları</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">İçecek Yorumları</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tatlı Yorumları</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gezilebilecek Yerlerin Yorumları</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hediyelik Eşya Yorumları</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Profil</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Profil Detayı</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Yorumlarım</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hesap Ayarları</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Güvenlik</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kullanıcı Sözleşmesi</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>