  
<div class="container">
    <div class="container mt-3">
        <h2>Semih Özcan</h2>
        <img src="profil.jpg" id="profilImage">
    </div>

    <br />
    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Anasayfa</a>
    <br />
    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Siteyi gör</a>
    <br />
    <a asp-area="Admins" asp-controller="Categories" asp-action="GetAllCategories" id="AdminLeftSideBarButton">Kategoriler</a>
    <br />
    <a asp-area="Admins" asp-controller="Nutrients" asp-action="GetAllNutrients" id="AdminLeftSideBarButton">Yiyecekler</a>
    <br />
    <a asp-area="Admins" asp-controller="NutrientImages" asp-action="GetAllNutrientImages" id="AdminLeftSideBarButton">Yiyecek Resimleri</a>
    <br />
    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Gezilebilecek yerler</a>
    <br />
    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Kullanıcılar</a>
    <br />
    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Admin Profili</a>
    <br />
    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index" id="AdminLeftSideBarButton">Ayarlar</a>
    <br />
    <a asp-area="" asp-controller="Account" asp-action="LogOut" id="AdminLeftSideBarButton">Çıkış Yap</a>
    <br />

</div>
